.myBtn{
    padding: 5px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    color:cornflowerblue;
    cursor: pointer;
    font-size: 14px;
    background: transparent;
    border: 1px solid cornflowerblue;
}