.myBtn{
    width: 75px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color:rgb(105, 105, 105);
    cursor: pointer;
    font-size: 14px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
    text-align: center;
    justify-content: center;
}
.myBtn:hover{
    background-color: rgb(130, 130, 130);
    color:white;
}