.App{
    width: 80%;
    background-color: rgb(228, 228, 228);
   
}

.AppContainer{
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    justify-content: center;
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}


.post{
    margin: auto;
    width: 90%;
    display: flex;
    padding: 15px;
    border: 2px solid rgb(43, 135, 0);
    background-color: rgba(200, 200,200);
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}